/* @import "compass"; */
@import "../../bower_components/susy/sass/susy";
/* @import "susy"; */
@charset "utf-8";

/* getting started from a susy tutorial https://css-tricks.com/build-web-layouts-easily-susy/ */

/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 3 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 1120px,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box,
  use-custom: (rem: true),
  gutters: .25,
  gutter-position: inside,
  );

/* Makes border-box properties */
@include border-box-sizing;
.wrap {
  @include container;
  flex: 1;
}

.left-annotate {
  @include span(2 wide of 12);
  @extend %clearfix;
}

.content {
  @include span(7 wide of 12);
  @extend %clearfix;
}

.right-annotate {
  @include span(3 wide of 12 last);
}

/* clearfixin' */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* Ye Olde Font Stuffs */
@font-face {
  font-family: 'LatinModernRoman';
  src: url('/fonts/lmroman10-italic.eot') format('embedded-opentype'),
       url('/fonts/lmroman10-italic.woff') format('woff'),
       url('/fonts/lmroman10-italic.ttf') format('truetype'),
       url('/fonts/lmroman10-italic.svg') format('svg');
}

h1, h2, h3 {
  font-family: 'LatinModernRoman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333333;
  line-height: 1.1;
}
h1 { font-size: 64px; text-align: center;}
h2 { font-size: 36px; line-height: 1; margin-top: 1em; margin-bottom: 1em; }
h3 { font-size: 28px; }
li, dl {
  font-size: 1.4rem;
  font-family: SC Satyr10 Web,Hoefler Text,Constantia,Palatino,Palatino Linotype,Book Antiqua,Georgia,Gentium Plus,Gentium Basic,Gentium,GentiumAlt,DejaVu Sans,DejaVu Serif,serif;
  line-height: 2rem;
}

body {
  margin: 0px 0px 0px 0px;
  background-color: #fffff8;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  /* height: 100%; */
  background:
	radial-gradient(
		magenta,
		magenta 40%,
		transparent 40%,
		transparent 100%
	), floralwhite;

  background-size:
	  0.2em 0.2em;

  padding: 0px 0px 0px 0px;
  border-bottom: 0.4em solid black;
  margin-bottom: 1em;

  h1 {
    margin-bottom: 0.2em;
  }
}

footer {
  background:
  radial-gradient(
    #57a5d4,
    #57a5d4 40%,
    transparent 40%,
    transparent 100%
  ), floralwhite;

  background-size:
    0.2em 0.2em;

  border-top: 0.4em solid black;

  p {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.meta {
  width: auto;
  border: 2px solid #333333;
  border-collapse: collapse;
  margin-bottom: 1.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
  table-layout: fixed;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.meta td {
  padding: 10px;
  border: 2px solid #333333;
}

.meta tr td:first-child {
  width: 20%;
}

.meta tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
p {
 font-size: 1.4rem;
 font-family: SC Satyr10 Web,Hoefler Text,Constantia,Palatino,Palatino Linotype,Book Antiqua,Georgia,Gentium Plus,Gentium Basic,Gentium,GentiumAlt,DejaVu Sans,DejaVu Serif,serif;
 line-height: 2rem;
 margin-bottom: 0;
 margin-top: 0;
 text-rendering: optimizeLegibility;
 hyphens: auto;
 -webkit-hyphens: auto;
 -moz-hyphens: auto;
 -ms-hyphens: auto;
 -o-hyphens: auto;
 color: #222222;
}
p + p {
   text-indent: 1.5em;
}
a {
  font-size: 1em;
  color: #212121;
  text-decoration: none;
}
a:link {
  background-color: #ffff66;
}
a:hover {
  background-color: #57a5d4;
}
a:visited {
  background-color: #ff66ff;
}
