@font-face {
  font-family: 'LatinModernRoman';
  src: url('/fonts/lmroman10-italic.eot') format('embedded-opentype'),
       url('/fonts/lmroman10-italic.woff') format('woff'),
       url('/fonts/lmroman10-italic.ttf') format('truetype'),
       url('/fonts/lmroman10-italic.svg') format('svg');
}

h1, h2, h3 {
  font-family: 'LatinModernRoman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333333;
  line-height: 1.1;
}
h1 { font-size: 64px; text-align: left;}
h2 { font-size: 36px; line-height: 1; margin-top: 1em; margin-bottom: 1em; }
h3 { font-size: 28px; }
p, li, dl {
  font-family: Georgia, serif;
}

.meta {
  width: auto;
  border: 2px solid #333333;
  border-collapse: collapse;
  margin-bottom: 1.5em;
  font-weight: bold;
  table-layout: fixed;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.meta td {
  padding: 10px;
  border: 2px solid #333333;
}

.meta tr td:first-child {
  width: 20%;
}

.meta tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
